/* Footer.css */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	background-color: #333;
	color: #fff;
}

.social-media-icons a {
	color: #fff;
	margin: 0 10px;
	transition: color 0.3s ease;
}

.social-media-icons a:hover {
	color: #999;
}

/* Adjust the size of the icons as needed */
.social-media-icons svg {
	width: 24px;
	height: 24px;
}
